<footer class="footer-content no-select" style="border-bottom: 0;">
	{% if site.socials and site.socials.size != 0 %}
	<div class="footer-socials">
        {% for social in site.socials -%}
            <a href="{{ social.link }}" target="_blank"><img src="{{ social.icon }}"></a>
        {% endfor -%}
    </div>
    {% endif %}

    <p>Questions? Got an event that should be on the page? Hit us up at <a href="mailto:admin@bostonindies.com">shane@shane.shane</p>

    {{ site.legal }}

    <p style="text-align: center;">
    website stolen from <a target="_blank" href="https://yukonmakes.games/">yukon</a> 😈
    <br />
    logo by <a target="_blank" href="https://kateolguin.com/about">Kate Olguin</a>
    </p>
</footer>
