// Fonts.
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$fontHeader: "rl aqva", sans-serif;
$fontBody: "Open Sans", sans-serif;

// Colors.
$colorBlack: #231f20;
$colorYellow: #f0e921;
$colorPink: #d52991;
$colorBlue: #333977;
$colorOffWhite: #f0f0f0;

// Spacing.
$spacing: 4rem;
$spacingHalf: 2rem;
$spacingQuarter: 1rem;



@mixin mobile
{
    @media screen and (max-width: 1152px)
    {
        @content;
    }
}
