---
layout: meta
---

<body>
    {% include core/header.html -%}

    <div class="wrapper">
        <div class="container">
            
            {{ content }}

            {% if site.links and site.links.size != 0 %}
                <div class="content no-select" style="text-align: center;">
                    <div class="link-list">
                        {% for link in site.links %}
                            <a href="{{ link.link }}">{{ link.title | upcase }}</a>
                        {% endfor %}
                    </div>

                </div>
                {% endif %}

        </div>      
    </div>
    {% include core/footer.html -%}
</body>